<div class="flex gap-4 border-b border-slate-700/70 mb-6 pb-2">
  <%= link_to "Organization", settings_organization_path, class: "text-sm #{controller_name == 'organizations' ? 'font-semibold text-indigo-400' : 'text-slate-300 hover:text-indigo-400'}" %>
  <%= link_to "Chapters", settings_chapters_path, class: "text-sm #{controller_name == 'chapters' ? 'font-semibold text-indigo-400' : 'text-slate-300 hover:text-indigo-400'}" %>
  <%= link_to "Members", settings_members_path, class: "text-sm #{controller_name == 'members' ? 'font-semibold text-indigo-400' : 'text-slate-300 hover:text-indigo-400'}" %>
  <%= link_to "Custom fields", settings_custom_fields_path, class: "text-sm #{controller_name == 'custom_fields' ? 'font-semibold text-indigo-400' : 'text-slate-300 hover:text-indigo-400'}" %>
</div>
